.container {
    background-color: #c00025;
    /* width: 60%; */
    max-width: 30%;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 2%;
    border: 3px solid blue;
}

/* *************************Display.js**************************** */
.display {
    margin: 0 auto;
    height: 90px;
    width: 60%;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

/* *******************App.js************** */
  .logo {
      margin: 07%;
  }

  .display-container {
      width: 90%;
      margin-left: 5%;
  }

  .operation-container {
      display: flex;
  }

  .left {
      width: 65%;
      margin: 6% 0 0 15%;
  }

  .right {
      width: 35%;
      margin: 6% 8% 0 0;
  }

/* ****************Specials.js******************** */

.specials {
    width: 90%;
    margin-left: 10%;
}

/* ********************Numbers.js********************** */

.numbers {
    width: 90%;
    margin-left: 10%;
}

/* ********************Operators.js********************** */

.operators {
    width: 20%;
}

/* ****Buttons from Numbers, Specials,  Operators*** */

.numberButton {
    border: 1px solid black;
    color: white;
    background-color: #184379;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 2%;
    font-size: 2rem;
}

/* This makes the '0' number button larger */
.numberButton:nth-child(10) {
    width: 60%;
    border-radius: 31px;
}

.specialButton {
    border: 1px solid black;
    color: white;
    background-color: #225d9e;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 2%;
    font-size: 2rem;
}

.operatorsButton {
    border: 1px solid black;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 17%;
    background-color:#237293;
    font-size: 2rem;
}



